h1{
    text-align: center;
    font-size: 100px;
    text-decoration: underline;
}
#buttons{
    text-align: center;
}
#start{
   font-size: 80px;
   }
#reload{
    font-size: 80px;
    }

#grid{
    display: grid;
    grid-template-columns:300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
    background-color: aqua;
    width: 900px;
    height: 900px;
    margin: auto;
}

#cell1{
    background-color: rgb(0, 80, 0);
    font-size:1000%;
    text-align:center;   
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}
#cell2{
    background-color: rgb(78, 43, 150);
    font-size:1000%;
    text-align:center;  
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}
#cell3{
    background-color: rgb(132, 168, 0);
    grid-row-start: 1;
    font-size:1000%;
    text-align:center;  
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}
#cell4{
    background-color: rgb(87, 207, 255);
    font-size:1000%;
    text-align:center;  
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

#cell5{
    background-color: rgb(75, 7, 69);
    font-size:1000%;
    text-align:center;  
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}
#cell6{
    background-color: rgb(241, 202, 25);
    font-size:1000%;
    text-align:center;  
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}

#cell7{
    background-color: rgb(255, 0, 0);
    font-size:1000%;
    text-align:center;  
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}
#cell8{
    background-color: rgb(189, 143, 183);
    font-size:1000%;
    text-align:center;  
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}
#cell9{
    background-color: rgb(0, 55, 128);
    font-size:1000%;
    text-align:center;  
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
}


